
MONGODB_URI_=mongodb+srv://[account]:[password]@cluster0.rujnhww.mongodb.net/restaurant-list?retryWrites=true&w=majority

FACEBOOK_ID=SKIP
FACEBOOK_SECRET=SKIP
FACEBOOK_CALLBACK=http://localhost:3000/auth/facebook/callback

SESSION_SECRET=ThisIsMySecret

PORT=3000